@media (max-width: 767px){

    

.nav-connections {
        display: none;
    }

    .address-list {
        display: none;
    }

    .header-section-class {
    
    width: 100%;
    }
  .container-header.nav-container.header-logo{
    margin-left: 0;
  }

    .container {

    width: 100%;
  
    padding: 10px 0px;
    }
    .nav-container {
        gap: 0;
        padding: 0;
       
    }

    .header-logo{
      text-align: left;

  
       
    }
.container-header.nav-container.header-logo{
    margin-right: 20px;
   
 
}





}








