@media (max-width: 1158px){

/* HEADER */
.header-section-class{
   
    width: 100%;
}
.container-header {
    width: 100%;
    }

.nav-container{
    width: 100%;
   
}
.address-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
ul.address-container{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.first-address{
    font-size:12px
}
    
   

   




/* fIRST SECTION */
.second-container{
    width: 100%;
    margin: 0 auto;
}





}