@media (max-width: 1158px){

/* HEADER */
.header-section-class{
   
    width: 100%;
}
.container-header {
    width: 100%;
    }

.nav-container{
    width: 100%;
   
}
.address-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
ul.address-container{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.first-address{
    font-size:12px
}
    
.menu-button{
    display: none;
}

/* fIRST SECTION */

.first-section{
    width: 100%;
}
.second-container{
    width: 100%;
    margin: 0 auto;
}

/* SECOND SECTION */

.features-section-container{
   width: 100%;
}

.container-section{
    width: 100%;
 
    flex-wrap: wrap;
    justify-content: left;
 
   
}

.icons-container{
    display: none;
}


.features-section-container-header{
    max-width: 736px;
    justify-content: flex-start;
   flex-wrap: wrap;
    gap:200px;
      
}
.features-header{
    font-size:36px;
    font-weight: 700;
    line-height: 40px;
}
.first-text{
    font-size: 16px;
   
}
.features-header-box{
  width: 356px;
   height: 120px;
   margin-left: 16px;
}
/* THIRD SECTION */

.team-section{
width: 100%;


}
.team-card-container{
    flex-wrap: wrap;
    justify-content: center;
}
.third-section-div-container{
    width: 100%;
    flex-wrap: wrap;
   
}
.team-card{
    width: 264px;
    height: 428px;
   
}

.team-header{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* FOURT SECTION */

.portfolio-container{
    width: 100%;
    margin: 0 auto;
}
.portfolio-cards-container{
   width: 100%;
    
}
.portfolio-cards-main-container{
    flex-wrap: wrap;
   width: 100%;
   justify-content: center;

}
.portfolio-card-borders{
    width: 356px;
    height: 420px;
}
/* FOOTER */

.footer{
    width: 100%;
}
.footer-container-for-all{
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.footer-form-container{
    margin-left: 140px;
    margin-right: 207px;
    margin-top: 80px;
}

.footer-main-container{
   
    margin-right: 0;

}









}